/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  font-style: normal; }

p {
  font-size: 16px; }

h1 {
  font: normal normal normal 45px/56px Lobster;
  font-size: 45px; }

h2 {
  font-size: 23px; }

.main-gradient {
  background: transparent linear-gradient(270deg, #FF7D50 0%, #F43636 51%, #ED63D2 100%) 0% 0% no-repeat padding-box; }

.y-g-gradient {
  background: transparent linear-gradient(270deg, #39F49B 0%, #FFC213 51%, #FF7D50 100%) 0% 0% no-repeat padding-box; }

.g-y-gradient {
  background: transparent linear-gradient(90deg, #39F49B 0%, #FFC213 100%) 0% 0% no-repeat padding-box; }

.unicorn-gradient {
  background: transparent linear-gradient(90deg, #23D5AB 0%, #23A6D5 32%, #E73C73 68%, #EE7752 100%) 0% 0% no-repeat padding-box; }

.p-r-gradient {
  background: transparent linear-gradient(90deg, #6944FF 0%, #FF2846 100%) 0% 0% no-repeat padding-box; }

.b-p-vertical-gradient {
  background: transparent linear-gradient(180deg, #23D5AB 0%, #23A6D5 50%, #E73C73 100%) 0% 0% no-repeat padding-box; }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
  /*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-image: url("/assets/img/Home/cover.jpg"); }

.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 100%; }

.hero .container {
  width: 100%;
  height: 100%; }

.avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px; }

.avatar img {
  width: 150px;
  height: 150px;
  max-width: 180px;
  max-height: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #E84170;
  opacity: 1;
  margin-bottom: 10px; }

.hero-text {
  color: white;
  margin: 0; }

.hero-title {
  color: #FFFFFF;
  opacity: 1;
  margin: 0; }

.boton {
  margin-top: 13PX;
  color: black;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  opacity: 1;
  border-color: transparent; }

  /*--------------------------------------------------------------
. Options
--------------------------------------------------------------*/
.cards {
  margin-bottom: 54px; }

.cards .card {
  max-width: 328px;
  margin-top: 30px;
  border-color: transparent; }

.cards .card .card-body {
  padding: 0; }

.cards .card .card-body .card-title {
  display: flex;
  margin: 0;
  min-height: 60px;
  font-size: 23px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center; }

.cards .card .card-body .card-img {
  margin: 13px 0;
  border-radius: 15px;
  opacity: 1; }

.cards .card .card-body .card-text {
  text-align: center;
  margin: 13px 0; }

.cards .card .card-body .button-see-more {
  margin: 0;
  color: #FFFFFF;
  width: 100%;
  font-weight: bold;
  min-height: 45px;
  padding: 10px 0; }

/*-----------Footer-----------*/
.footer {
  text-align: center;
  color: #FFFFFF;
  padding: 22px 0;
  font-size: 13px; }

@media (min-width: 576px) {
  .hero {
    background-image: url("/assets/img/Home/cover2.jpg"); } }
@media (min-width: 992px) {
  h1 {
    font-size: 50px; }

  .hero {
    background-image: url("/assets/img/Home/cover4.jpg"); }

  .hero-text {
    font: italic normal normal 50px Lobster Two;
    font-size: 50px; }

  .cards {
    background: transparent linear-gradient(180deg, #23D5AB 0%, #23A6D5 50%, #E73C73 100%) 0% 0% no-repeat padding-box;
    margin-bottom: 0px; }

  .cards .card {
    background: transparent;
    max-width: 230px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    border-color: transparent; }

  .cards .card .card-body .card-img {
    margin: 15px 0;
    border-radius: 15px;
    opacity: 1; }

  .footer {
    font-size: 15px; } }
@media (min-width: 1200px) {
  .avatar img {
    min-width: 180px;
    min-height: 180px; }

  .cards .card {
    max-width: 255px; } }
/*-----------subpages---------*/
.hero-subpage {
  width: 100%;
  height: 50vh;
  background-size: cover;
  position: relative;
  background-image: url("/assets/img/Crypto/crypto.jpg"); }

.hero-subpage:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 100%; }

.hero-subpage .container {
  width: 100%;
  height: 50vh;
  position: relative; }

.hero-subpage .hero-text {
  margin-top: 10px; }

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 60px; }

.breadcrumbs p {
  margin: 0;
  color: white; }

.breadcrumbs p a {
  text-decoration: underline;
  color: white; }

.title-line {
  width: 100%;
  height: 4px;
  display: inline-block;
  background: #707070;
  margin: 30px 0 15px 15px; }

.section-title {
  font-weight: bold; }

/******************* CHARITY PAGE *************************/
/******************* TRADING PAGE *************************/
.link {
  margin-top: 20px;
  min-height: 130px;
  max-height: 130px;
  max-height: 130px;
  max-width: 130px;
  background: transparent;
  border: 3px solid #707070;
  border-radius: 24px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.link-icon {
  width: 50px;
  height: 50px;
  padding: 0 .5rem 0 .3rem;
  text-align: center; }

.link2 {
  min-height: 130px;
  max-height: 130px;
  max-height: 130px;
  max-width: 130px;
  background: #FEC22D;
  border: 2px solid #FFDF83;
  border-radius: 65px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.link-icon2 {
  width: 50px;
  height: 50px;
  padding: 0 .5rem 0 .3rem;
  color: white;
  text-align: center; }

.meaning {
  margin-top: 30px; }

.meaning .cryptocurrencies {
  margin-top: 15px;
  text-align: center; }

.meaning .cryptocurrencies h2 {
  font-weight: bold; }

/******************* DESIGN PAGE *************************/
/******************* MODELING PAGE *************************/

/*# sourceMappingURL=styles.css.map */
